/* .navbar-brand img.img-fluid{
    max-width: 250px;
} */

*{
    margin: 0px;
    padding: 0px;
}
nav.navbar ul.navbar-nav>li.navi-item>a.nav-link .fa{
    font-size: 30px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.iconfontsize{
    font-size: 20px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  nav.mainNav ul.navbar-nav>li.nav-item>a.nav-link {
      text-transform: uppercase;
  }

  .mainNav ul.navbar-nav>li.nav-item>a.left {
    padding-right: 168px;
}

.mainNav ul.navbar-nav>li.nav-item>a.right {
    padding-left: 74px;
}
.navbar-brand img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    max-width: 250px;
}
/* displaying shorttext for la */
@media(max-width:563px){
    .short-text { display: inline-block; }
    .full-text { display: none; } 
}
/* displaying fulltext for la */
@media(min-width:564px){
    .short-text { display: none; }
    .full-text { display: inline-block; } 
}
/* not displaying top social media icon */
@media(max-width:563px){
    .top-social-media{display: none;}
}
/* mananging toggle padding in small screen for left*/
@media(max-width:1017px){
    .mainNav ul.navbar-nav>li.nav-item>a.left {
        padding-right: 0px;
    }   
}
/* mananging toggle padding in small screen for right menu*/
@media(max-width:1017px){
    .mainNav ul.navbar-nav>li.nav-item>a.right {
        padding-left: 0px;
    }   
}
/* moving logo to left */
@media(max-width:992px){
    .navbar-brand img {
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
        max-width: 250px;
    }  
}

@media(max-width:270px){
    .navbar-brand img {
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
        max-width: 100%;
        object-fit: cover;
    }
}  
/* @media(max-width:1017px){
    .mainNav ul.navbar-nav>li.nav-item>a.left {
        padding-right: 110px;
    }
    
    .mainNav ul.navbar-nav>li.nav-item>a.right {
        padding-left: 50px;
    }
} */


@media(min-width:200px) and (max-width:500px){
    .navbar-brand img.img-fluid{
        width: 100%;
        height: auto;
    }
}


/* for bigger screen */
@media(min-width:1233px){
    .mainNav ul.navbar-nav>li.nav-item>a.left {
        padding-right: 202px;
    }
    
    .mainNav ul.navbar-nav>li.nav-item>a.right {
        padding-left: 93px;
    }
}

@media(min-width:1632px){
    .mainNav ul.navbar-nav>li.nav-item>a.left {
        padding-right: 254px;
    }
    
    .mainNav ul.navbar-nav>li.nav-item>a.right {
        padding-left: 127px;
    }
}

@media(min-width:1823px){
    .mainNav ul.navbar-nav>li.nav-item>a.left {
        padding-right: 339px;
    }
    
    .mainNav ul.navbar-nav>li.nav-item>a.right {
        padding-left: 161px;
    }
}

.container-fluid img.homescreen{
    width: 100%;
    height:700px;
    object-fit: cover;
}

div.orderonlinebtn{
    position: relative;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

footer{
    width: 100%;
    background-color: black;
    padding:80px;
}

div.footericon>a>i.fa{
    padding: 15px;
    font-size: 22px;
    color: white;
}

div.footericon>a>i.fa:hover{
    color:#817d7d;
}

.connect{
    font-size: 18px;
    color:white;
}

.copyright{
    font-size: 18px;
    color:white;
}

footer {
    width: 100%;
    background-color: black;
    padding: 31px;
}


/* orderpage */
.nav-tabs>li.nav-item>a.nav-link{
    padding-right: 10px;
}

.nav.nav-tabs{
    background-color: #ffffff;
} 
.nav-tabs > li.active > a {
    color: #0d7eee;
    font-size: 16px;
  }
  .nav-tabs > li > a {
    color: #141212;
    text-transform: capitalize;
  }

  @media (max-width:559px){
    .nav-tabs>li.nav-item>a.nav-link{
   padding-left: 12px;
   padding-right:12px;
    }
  }

  .menu img{
    height:400px;
    object-fit: cover;
}

.menu .card{
    margin-bottom:20px;
}

@media (min-width: 576px){
    div.card-deck {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: auto ;
        margin-left: auto;
        padding:auto;   
    }
}

.menu h4{
    padding-left: 17px; 
}

@media (max-width: 575px){
    .menu h4{
        padding-left: 0px; 
    }
}

.zoom{
    overflow: hidden;
}

.zoom img{
    transition: all 1.2s ease;
}

.zoom:hover img{
    transform: scale(1.3);
} 

div.addcartbtn{
    position: relative;
}

.addcartbtn a.btn{
    position: absolute;
    bottom:0px;
    left: 0px;
    right:0px;
}

.addcartbtn div.card-body{
    margin-bottom: 10px;
}

#menuCarousel img{
    object-fit: cover;
    width: 100%;
    height:700px;
}

/* div.carousel-inner img{
    position: relative;
    text-align: center;
    color: white;
}

.carousel-caption{
    position: absolute;
    top: 8px;
    left: 16px;
} */

.carousel-caption{
    text-align: left;
    bottom: 0px;
    top:5%;
}

.contentmenu{
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 70%; /* Not Full width */
    padding-top: 20px;
    padding-bottom:20px; /* Some padding */
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    /* font-family: 'Oranienbaum', serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Rochester', cursive; */
}

.contentmenu h1{
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 10px ;
    text-transform: uppercase;
    font-family: 'Oranienbaum', serif;
    color: #000000a3;
}

.contentmenu h2{
    font-family: 'Rochester', cursive;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 5px;
    color: #fd5327;
    padding-bottom: 25px;
}

.contentmenu p{
    font-family: 'Indie Flower', cursive;
    padding-left: 5%;
    font-size: 40px;
}

.cost{
    color:#07e33b;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 0px;
}

.contentmenu p > small{
    font-size: 23px;
    padding-left: 5%;
    color:rgb(206, 219, 20); 
}


@media(max-width:569px){
    .desc{
        display: none;
    }
    .contentmenu h1{
        font-size: 40px;
    }
    .contentmenu h2{
        font-size: 30px;  
    }

    .contentmenu p{
        font-size: 27px;
    }

    .cost{
        font-size: 27px;
    }
    
}

.form-container{
    position: absolute;
    top: 140px;
    left: -79px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    width: 450px;
}

.bg{
    background: url("/img/Reservation/reservation2.jpg");
    width: 100%;
    height: 600px;
    background-size: 100%;
}

@media (max-width:767px){
    .form-container{
        left:-41px;
}}

@media (max-width:582px){
    .form-container{
        left:-85px;
}}

@media (max-width:575px){
    .form-container{
        left:55px;}
}

@media (max-width:500px){
    .form-container{
        left:75px;
        width: 300px;}
}

img.mediapicture{
    width:700px;
    object-fit: cover;
    height: 600px;
    border: blue;
}

.mediabg{
    background-color: rgb(204, 205, 221);
    font-family: 'Pacifico', cursive;
    border-radius: 2%;
}

.mediabg h1{
    font-family: 'Rochester', cursive; 
    color: rgb(190, 189, 188);
    background-color: #ea6440e6;
    font-weight: 600;
    
}

.mediabg p{
    color: rgb(15, 79, 199);
    text-align: justify;
    font-size: 18px;
}

.mediapicture{
    padding-top: 50px;
    padding-right: 47px;
    padding-bottom:50px;
}
@media(max-width:906px){
    .mediabg{
        flex-direction: column;
        margin:0px; 
    }
    img.mediapicture{
        width:100%;
        height: 360px;
       padding-bottom: 26px;
       padding-right: 45px;
       padding-left: 45px;
       padding-top:0px;
       margin-top: -38px;
    
}
}